# Backend Environment Variables
GOOGLE_API_KEY=your_google_api_key
MONGO_URI=mongodb://localhost:27017
OPEN_WEATHER_API_KEY=your_open_weather_api_key
JWT_SECRET_KEY=your_jwt_secret_key
FERNET_ENCRYPTION_KEY=your_fernet_encryption_key
GOOGLE_CLIENT_ID=your_google_client_id

# SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password

# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:8000
